[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty
Exec=/usr/local/bin/alacritty
Icon=~/.local/share/icons/alacritty.png
Terminal=false
Categories=Utility;

